{# layout.html.twig #}
<html>
<head>
    <title></title>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
<head>
<body>
{% block header %}
<header>TESTATA UNICA DEL SITO</header>
{% endblock %}
</body>
</html>
